@font-face {
   font-family: Lato;
   src: url(/_static/fonts/Lato-Regular.ttf);
}
@font-face {
   font-family: Jost;
   src: url(/_static/fonts/Jost-Regular.ttf);
}

html,
body {
   margin: 0;
   padding: 0;
   font-family: 'Jost', 'Lato', sans-serif;
}

html {
   background: #3b3b3b url(/_static/noisy-background.png) repeat 0px 0px;
   overflow-y: scroll;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   max-width: 1150px;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
}

a {
   color: rgb(20, 88, 190);
   text-decoration: none;
}
a:visited {
   color: rgb(20, 88, 190);
}
a:hover {
   color: rgb(89, 156, 255);
}

img,
image {
   display: block;
   max-width: 100%;
   align-self: center;
}

table {
   border-collapse: collapse;
}

td,
th {
   font-size: 0.9em;
   padding: 1px;
   padding-left: 8px;
   padding-right: 8px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header {
   align-self: stretch;
   background-color: #ffb53a;
   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
#pageTitle {
   cursor: pointer;
}

footer {
   background-color: #ffb53a;
   padding: 4px;
   font-size: 0.8rem;
}

div#middle {
   display: flex;
   flex: 1;
   flex-direction: row;
}

main {
   flex: 1;
   padding: 25px;
   padding-top: 10px;
   overflow-x: auto;
}

nav {
   padding: 10px;
   min-width: 200px;
   width: 21%;
   background-color: rgb(255, 232, 183);
}

nav li {
   padding: 2px;
   font-size: 0.9rem;
   list-style: none;
   display: flex;
   flex-direction: row;
}

nav li.file::before {
   content: '';
   display: block;
   height: 16px; /*height of icon */
   width: 16px; /*width of icon */
   margin-right: 4px;
   background: #00000000 url(/_static/file-icon.png) no-repeat 0px 0px;
   background-size: contain;
}

nav li {
   cursor: pointer;
}
nav li:hover {
   color: rgb(89, 156, 255);
}
nav li.directory::before {
   content: '';
   display: block;
   height: 16px; /*height of icon */
   width: 16px; /*width of icon */
   margin-right: 4px;
   background: #00000000 url(/_static/folder-icon.png) no-repeat 0px 0px;
   background-size: contain;
}

div.subnav {
   margin-top: 2px;
   margin-bottom: 2px;
   margin-left: 4px;
   padding-left: 10px;
   border-left: 1px solid rgba(0, 0, 0, 0.2);
   overflow: hidden;
}
div.subnav[closed='true'] {
   height: 0px;
   margin: 0px;
}

div.testFile {
   padding-bottom: 40px;
}
div.testFile:not(:first-child) {
   padding-top: 20px;
   border-top: 2px solid rgba(0, 0, 0, 0.2);
}

div.testFilePath {
   font-size: 12px;
   margin-bottom: 6px;
}
div.testReport {
   margin-top: 12px;
}
div.test {
   margin-top: 6px;
   margin-bottom: 6px;
   padding: 6px;
   border-radius: 2px;
}
div.test[status='failed'] {
   background-color: #ffbba3;
}

div.test[status='todo'],
div.test[status='skipped'],
div.test[status='pending'],
div.test[status='disabled'] {
   background-color: rgb(240, 240, 240);
}

div.test div.title {
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.testFile .status[status='passed'] {
   color: rgb(56, 192, 56);
}
.testFile .status[status='failed'] {
   color: rgb(185, 17, 17);
}

div.test[status='passed'] div.title::after {
   content: '';
   display: block;
   height: 16px; /*height of icon */
   width: 16px; /*width of icon */
   flex-shrink: 0;
   margin-left: 8px;
   background: #00000000 url(/_static/success-icon.png) no-repeat 0px 0px;
   background-size: contain;
}

div.test[status='failed'] div.title::after {
   content: '';
   display: block;
   height: 16px; /*height of icon */
   width: 16px; /*width of icon */
   flex-shrink: 0;
   margin-left: 8px;
   background: #00000000 url(/_static/failed-icon.png) no-repeat 0px 0px;
   background-size: contain;
}

div.test[status='passed'] div.title::after {
   content: '';
   display: block;
   height: 16px; /*height of icon */
   width: 16px; /*width of icon */
   flex-shrink: 0;
   margin-left: 8px;
   background: #00000000 url(/_static/success-icon.png) no-repeat 0px 0px;
   background-size: contain;
}

div.test[status='todo'] div.title::after {
   font-size: 0.8rem;
   content: 'To do';
   display: block;
   flex-shrink: 0;
   margin-left: 8px;
   background-size: contain;
}

div.test[status='skipped'] div.title::after,
div.test[status='pending'] div.title::after,
div.test[status='disabled'] div.title::after {
   font-size: 0.8rem;
   content: 'Disabled';
   display: block;
   flex-shrink: 0;
   margin-left: 8px;
   background-size: contain;
}

#loading {
   padding: 20;
   opacity: 0;
   transition: opacity 0.3s;
}

#loading[active='true'] {
   opacity: 1;
}
