mixin createNavTree(obj)
   if obj.type === 'directory'
      li.directory
         span=obj.name
      div.subnav(closed="true")
         each child in obj.children
            +createNavTree(child)
   
   else if obj.type === 'file'
      li.file(title=obj.path urlPath=obj.urlPath contentPath=obj.contentPath)
         span=obj.name



doctype html
html(lang="en")
head
   title=documentationTitle
   meta(charset="utf-8")
   link(type="text/css" rel="stylesheet" href="/_static/style.css")
   script(src="/_static/nanoJS.min.js")
   script(src="/_static/script.js")
body
   header
      div#pageTitle=documentationTitle
      div#loading(active="false") Ladataan
   div#middle
      nav
         each child in navigationTree.children
            +createNavTree(child)
      main!=content
   footer Created with 
      a(href="https://gitlab.com/janhon3n/vihkoon") vihkoon
