div.testFile
   div.testFilePath #{filename} , executed on #{new Date().toLocaleString()}, #{data.numPassingTests} passed,  #{data.numFailingTests} failed, #{data.numTodoTests} todo
   each testGroup in testGroups
      div.testGroup
         h3=testGroup.description
      each test in testGroup.tests
         div.test(status=test.status)
               div.title=test.title
