<h1>Test html page</h1>
<span style="color:rgb(89, 255, 67);">Skyblue text</span>
<span style="color:rgb(15, 62, 80);">Skyblue text</span>
<span style="color:rgb(92, 116, 255)">Skyblue text</span>
<span style="color:rgb(199, 239, 255);">Skyblue text</span>
<span style="color:rgb(0, 108, 151)60, 83);">Skyblue text</span>
<span style="color:rgb(255, 151, 81);">Skyblue text</span>
<span style="color:rgb(175, 0, 219);">Skyblue text</span>
